@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background: #000;
    /* 트랙은 검은색 */
}

::-webkit-scrollbar-thumb {
    background: #fff;
    /* 손잡이는 흰색 (대비 확실하게!) */
    border: 2px solid #000;
    /* 테두리 줘서 더 힙하게 */
}

::-webkit-scrollbar-thumb:hover {
    background: #edc5c4;
    /* 잡으면 핑크색으로 변신! */
}